html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
  overflow: auto; 
  }

*, *:before, *:after { 
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; 
 }

body {
  background-color: black ;
  background-image: url("/static/img/PIA07137_hires.jpg");
  /* Chrome, Safari, Opera */
  -webkit-animation: img_loop 25s linear 5s infinite alternate;  
  /* Standard syntax */
  animation: img_loop 25s linear 5s infinite alternate;
  max-width: 100%;
  max-height: 100%;
  margin: 1px;
  font-family: Georgia, Arial, Helvetica;
  /* font-size: 1rem; */
}  
  
/* Chrome, Safari, Opera */
@-webkit-keyframes img_loop {
  0% {background-image: url("/static/img/PIA07137_hires.jpg");}
  25% {background-image: url("/static/img/PIA16605_hires.jpg");}
  50% {background-image: url("/static/img/PIA17564_hires.jpg");}
  100% {background-image: url("/static/img/PIA09320_hires.jpg");}
}

/* Standard syntax */
@keyframes img_loop {
  0% {background-image: url("/static/img/PIA07137_hires.jpg");}
  25% {background-image: url("/static/img/PIA16605_hires.jpg");}
  50% {background-image: url("/static/img/PIA17564_hires.jpg");}
  100% {background-image: url("/static/img/PIA09320_hires.jpg");}
}

.sticky-offset { 
  padding: 18rem 0rem 0rem 0rem; 
}

.card {
  opacity: .7;
}

.jumbotron {
  /* background-image: linear-gradient(rgba(8, 5, 133, 0.87), rgb(0, 0, 7));  */
  background: transparent;
}

  /* Button colors */
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:hover, .btn-navy:not(:disabled):not(.disabled):active, .btn-primary:hover, .show>.btn-navy.dropdown-toggle {
    color: #fff;
    background-color: navy;
    border: 2px solid  #6610f2; 
    text-align: center;
  }

.btn-primary:hover {
  box-shadow: 0 1px 20px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-primary {
  color: #fff;
  background-color: #7e57c2;
  border: 2px solid #673ab7;
  text-align: center;
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    html {
        font-size: .8rem;
      }

    /* .main {
      padding: 0rem;
    }     */
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    html {
        font-size: .9rem;
      } 
    /* .main {
      padding: 0rem 1rem 1rem 1rem;
    } */
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    html {
        font-size: 1rem;
      }
    /* .main {
      padding: 0rem 1.5rem 1.5rem 1.5rem;
    } */
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    html {
        font-size: 1rem;
      }
    /* .main {
      padding: 0rem 2rem 2rem 2rem;
    }     */
}

.glow {
  font-size: 5rem;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 .625rem #fff, 0 0 1.25rem #fff, 0 0 1.875rem #e60073, 0 0 2.5rem #e60073, 0 0 3.125rem #e60073, 0 0 3.75rem #e60073, 0 0 4.4rem #e60073;
  }
  
  to {
    text-shadow: 0 0 1.25rem #fff, 0 0 1.875rem #ff4da6, 0 0 2.5rem #ff4da6, 0 0 3.125rem #ff4da6, 0 0 3.75rem #ff4da6, 0 0 4.4rem #ff4da6, 0 0 5rem #ff4da6;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 .625rem #fff, 0 0 1.25rem #fff, 0 0 1.875rem #e60073, 0 0 2.5rem #e60073, 0 0 3.125rem #e60073, 0 0 3.75rem #e60073, 0 0 4.4rem #e60073;
  }
  
  to {
    text-shadow: 0 0 1.25rem #fff, 0 0 1.875rem #ff4da6, 0 0 2.5rem #ff4da6, 0 0 3.125rem #ff4da6, 0 0 3.75rem #ff4da6, 0 0 4.4rem #ff4da6, 0 0 5rem #ff4da6;
  }
}