<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Janie's Mission to Mars</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/star.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/marStyle.css') }}">
</head>

<body>
    <div class="container-fluid">
        <!-- Header start -->
        <div class="fixed-top">
            <a class="navbar-brand float-left p-3" href="#">
                <img src="{{ url_for('static', filename='img/data_scientist_Profile.png') }}" class="rounded" alt="Home"
                    width="40" height="40">
            </a>
            <div class="jumbotron text-center">
                <h1 id="title" class="glow"><span>Mission to Mars</span></h1>
                <a class="btn btn-primary btn-md" href="/scrape" title="Click here to get the latest news."
                    role="button">Latest News
                    Update</a>
            </div>
        </div>
        <!-- Header end -->

        <!-- Content start -->
        <div class="sticky-offset">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                    <div class="card mb-3 text-white bg-primary">
                        <div class="card-header">
                            <h3 class="font-weight-bold">Latest Mars News</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-subtitle">{{ mars.newsTitle }}</h4>
                            <p class="card-text"> {{ mars.newsDesc }}</p>
                        </div>
                    </div>
                    <div class="card bg-light mb-3 text-primary">
                        <div class="card-body">
                            <h3 class="card-title">Featured Mars Image</h3>
                            <figure class="figure">
                                <img src="{{ mars.img_featuredUrl }}" class="figure-img img-fluid rounded"
                                    alt="Featured Image">
                                <figcaption class="figure-caption text-primary"> {{ mars.img_featuredTitle }} - Date
                                    Release: {{ mars.img_releaseDate  }}</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="card border-dark mb-3 text-dark">
                        <div class="card-header text-center">
                            <h3>Current Weather on Mars</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ mars.marsWeather }}</p>
                        </div>
                    </div>
                    <div class="card border-dark mb-3 text-dark">
                        <div class="card-header text-center">
                            <h3>Mars Facts</h3>
                        </div>
                        <div class="card-body">
                            <table class="table-bordered table-responsive-sm table-responsive-lg">
                                <thead>
                                    <tr>
                                        <th>Description</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in mars.marsFacts %}
                                    <tr>
                                        <td>{{ row }}</td>
                                        <td>{{ mars.marsFacts[row] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card bg-light text-primary">
                        <div class="card-header text-center">
                            <h3 class="font-weight-bold">Mars Hemispheres</h3>
                        </div>
                        <div class="row card-body">
                            {% for row in mars.marsHemisphere %}
                            <div class="mb-3 d-block col-xs-3 col-sm-3 col-md-6 col-lg-6">
                                <figure>
                                    <img src="{{ row['img_url'] }}" class="figure-img img-fluid rounded w-100 h-100"
                                        alt="{{ row['img_title'] }}">
                                    <figcaption class="card-text text-center">{{ row['img_title'] }}</figcaption>
                                </figure>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Content end -->
    </div>

    <!-- Footer start -->
    <footer>
        <div class="fixed-bottom text-center text-primary">
            <p><strong><i>Copyright © Janie Wallace 2019</i></strong></p>
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Animated stars begin -->
    <div id='stars' />
    <div id='stars2' />
    <div id='stars3' />
    <!-- Animated stars end -->
</body>

</html>