<!DOCTYPE html>
<html lang="en">

<head>
    <title>Janie's Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Scripts/myStyle.css">
    <link rel="stylesheet" type="text/css" href="/Scripts/table-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- <script src="/Scripts/myJQuery.js"></script> -->
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-grad_blue fixed-top">
            <a class="navbar-brand" href="#">
                <img src="/Images/data_scientist_Profile.png" class="rounded" alt="Home" width="40" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navID"
                aria-controls="navID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Nav tabs -->
            <div class="collapse navbar-collapse" id="navID">
                <ul class="navbar-nav nav-pills mr-auto">
                    <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
                        <a class="nav-link bt-purple active" title="Scrape new data!" href="/scrape">Scrape</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Navigation End-->

    <!--Content Start-->
    <main id="contentID" class="container-fluid">
        <!-- <div class="container-fluid"> -->
            <div class="row content-box">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 jumbotron text-center">
                    <h1 class="font-weight-bold">Mission to Mars</h1>
                </div>
            </div>
            <div class="row  content-box">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="font-weight-bold">Latest Mars News</h3>
                    <h5>NASA's </h5>
                    <p>Preparatiion</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                    <h4 class="font-weight-bold">Featured Mars Image</h4>
                    <img src="Images/city_temp.png" class="float-left img-fluid" alt="temperature">
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 bg-white content-box">
                    testt
                </div>
        
            </div>
            <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-white content-box">
                        <h4 class="font-weight-bold  text-center">Mars Hemispheres</h4>
                        <hr />

                            <div class="col-sm-3 col-md-6">
                                <a href="" title="Temperature Visualization">
                                    <div class="border">
                                        <img src="Images/city_temp.png" class="img-fluid mx-auto d-block" alt="temperature image">
                                    </div>
                                </a>
                            </div><br />
                            <div class="col-sm-3 col-md-6">
                                <a href="" title="Humidity Visualization">
                                    <div class="border">
                                        <img src="Images/city_humidity.png" class="img-fluid mx-auto d-block" alt="humidity image">
                                    </div>
                                </a><br />
                            </div>
                            <div class="col-sm-3 col-md-6">
                                <a href="" title="Cloudiness Visualization">
                                    <div class="border">
                                        <img src="Images/city_cloudiness.png" class="img-fluid mx-auto d-block"
                                            alt="cloudiness image">
                                    </div>
                                </a><br />
                            </div>
                            <div class="col-sm-3 col-md-6">
                                <a href="" title="Wind Speed Visualization">
                                    <div class="border">
                                        <img src="Images/city_wind.png" class="img-fluid mx-auto d-block" alt="wind speed image">
                                    </div>
                                </a><br />
                            </div>

                    </div>
            
                </div>       
        <!-- </div> -->

           
    </main>
    <!-- Content End -->

    <!-- Footer start -->
    <footer>
        <div class="fixed-bottom bg-grad_fuschia text-center footer-box">
            <p class="text-white"><i>Copyright © Janie Wallace 2019</i></p>
        </div>
    </footer>
    <!-- Footer end -->
</body>

</html>